---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    font: Helverica;
}


a.site-title {
    display:inline-block;
    padding:1em 0;
    font-weight:700;
    letter-spacing:-.01em;
    font-size:1.2rem
  }
a.site-title:first-letter {
    margin-right:3px;
    padding:0 7px;
    border-radius:3px;
    border:2px solid #000
  }